body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(180deg, #0b0b0b, #1a1a1a);
  color: #eee;
}

a {
  color: #ffcc70;
  text-decoration: none;
}

.navbar {
  position: sticky;
  top: 0;
  background: #111;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.navbar a {
  margin-left: 20px;
}

.hero {
  text-align: center;
  padding: 70px 20px;
}

section {
  padding: 60px 10%;
}

h2 {
  margin-bottom: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-bottom: 60px;
}

.grid img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.grid img:hover {
  transform: scale(1.06);
  box-shadow: 0 0 20px rgba(255, 200, 120, 0.35);
}

/* LIGHTBOX */
#lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.92);
  display: none;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#lightbox img {
  max-width: 75%;
  max-height: 65vh;
  border-radius: 12px;
  margin-bottom: 15px;
}

#lightbox h3 {
  margin: 10px 0 5px;
}

#lightbox p {
  max-width: 700px;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  color: #ddd;
}

#close {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 42px;
  color: #ffcc70;
  cursor: pointer;
}
