body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #121212;
  color: #eaeaea;
}

a {
  color: #ffcc70;
  text-decoration: none;
}

.navbar {
  position: sticky;
  top: 0;
  background: #0f0f0f;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.hero {
  background: linear-gradient(180deg, #1a1a1a, #121212);
  text-align: center;
  padding: 70px 20px;
}

section {
  padding: 60px 10%;
}

h2 {
  margin-bottom: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-bottom: 60px;
}

.grid img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 200, 120, 0.3);
}

/* force same size for last section */
.grid.dual img {
  height: 230px;
}

/* LIGHTBOX */
#lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  z-index: 9999;
}

.lightbox-content {
  max-width: 80%;
  margin: auto;
  text-align: center;
  position: relative;
  padding-top: 40px;
}

#lightbox img {
  max-width: 100%;
  max-height: 65vh;
  border-radius: 12px;
}

#lightbox h3 {
  margin-top: 15px;
}

#lightbox p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.6;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  cursor: pointer;
  color: #ffcc70;
}
